:root {
  --dark-blue: black;
  --lighter-blue: #007CC7;
  --lightest-blue: #4DA8DA;
  --shadow-dark-blue: #212027;
  --shadow-light-blue: #EEFBFB;
  --beson-red: #d1324d;
  --beson-green: #32d174;
  --beson-yellow: #d1ac32;
  --beson-shadow: #e8f5f8;
  --beson-shadow-lv2: #adc5ca;
}
body{
  margin: 0px;
  font-family: 'Titillium Web', sans-serif;
  background-color: black !important;
}
.text-yellow{
  color: var(--beson-yellow);
}
.bg-yellow{
  background-color: var(--beson-yellow);
}
.text-red{
  color: var(--beson-red);
}
.bg-red{
  background-color: var(--beson-red);
}
.text-green{
  color: var(--beson-green);
}
.bg-green{
  background-color: var(--beson-green);
}
.text-dark-blue{
  color: var(--dark-blue);
}
.bg-dark-blue{
  background-color: var(--dark-blue);
}
.text-lighter-blue{
  color: var(--lighter-blue);
}
.bg-lighter-blue{
  background-color: var(--lighter-blue);
}
.text-lightest-blue{
  color: var(--lightest-blue);
}
.bg-lightest-blue{
  background-color: var(--lightest-blue);
}
.text-shadow-dark-blue{
  color: var(--shadow-dark-blue);
}
.bg-shadow-dark-blue{
  background-color: var(--shadow-dark-blue);
}
.text-shadow-light-blue{
  color: var(--shadow-light-blue);
}
.bg-shadow-light-blue{
  background-color: var(--shadow-light-blue);
}
.container{
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
}
.container-vide{
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  min-width: 100vw;

}
.collapsed{
  display: none;
}
.row{
  display: flex;
  justify-content: center;
}
.col{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.bold{
  font-weight: bolder;
}
.ml-1{
  margin-left: 1em !important; 
}
.mt-05{
  margin-top: 0.5em !important; 
}
.mt-minus2{
  margin-top: -2em !important; 
}
.mt-1{
  margin-top: 1em !important; 
}
.mt-2{
  margin-top: 2em !important;
}
.p-1{
  padding: 1em;
}
.pl-1{
  padding-left: 1em;
}
.pr-1{
  padding-right: 1em;
}
.pl-3{
  padding-left: 3em;
}
.pr-3{
  padding-right: 3em;
}
.p-2{
  padding: 2em;
}
.p-5{
  padding: 5em;
}
.w-100{
  width: 100%;
}
.w-80{
  width: 80%;
}
.w-50{
  width: 50%;
}
.w-25{
  width: 25%;
}
.w-3{
  width: 3em;
}
.d-flex{
  display: flex;
  flex-direction: row;
}
.d-col{
  display: flex;
  flex-direction: column;
}
.space-between{
  justify-content: space-between !important;
}
.h-2{
  height: 2em;
}
.h-3{
  height: 3em;
}
.h-5{
  height: 5em;
}
.h-50{
  height: 50%;
}
.h-80{
  height: 80%;
}
.h-100{
  height: 100%;
}
input{
  width: 100%;
  height: 2em;
  font-size: 1em;
  border-radius: 6px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid gray;
  color: var(--shadow-light-blue);
}
select{
  width: 100%;
  height: 2em;
  font-size: 1em;
  border-radius: 6px;
  background-color: transparent;
  color: gray;
  border: none;
}

input:hover{
  background-color: var(--shadow-dark-blue);
}
select:hover{
  background-color: var(--shadow-dark-blue);
}
.navbar{
  height: 3em;
  width: 100%;
  background-color: black;
  justify-content: space-between;
  display: flex;
  box-shadow: 0px 0px 12px black;
}
.footer{
  margin-top: 1em;
  height: 3em;
  width: 100%;
  background-color: var(--dark-blue);
  justify-content: space-between;
  display: flex;
  /* box-shadow: 12px 12px 12px; */
  color: var(--beson-shadow-lv2);
}
button{
  height: 2em;
  width: 100%;
  font-size: 1.5em;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover{
  background-color: gray;
  color: white;
}
label{
  color: white;
}
.carrossel{
  height: 50%;
  width: 100%;
  max-width: 100%;
  background-color: var(--shadow-dark-blue);
  justify-content: center;
  align-items: center;
  display: flex;
  /* overflow: scroll; */
}
.cover{
  margin-left: 1em;
  width: 12em;
  min-width: 12em;
  min-height: 16em;
  height: 16em;
  border: 1px solid rgb(43, 43, 43);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 6px rgb(165, 164, 164);
}

.cover:hover{
  box-shadow: 0px 0px 14px var(--beson-red);
  background-color: rgba(27, 27, 27,0.6);
  cursor: pointer;
}
.cover span{
  position: absolute;
  color: #32d174;
  font-weight: bold;
  background-color: rgba(27, 27, 27,0.6);
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
  margin-left: -7em;
  margin-top: -14em;
  box-shadow: 0px 0px 12px black;
  z-index: 0;;
}
.cover img{
  width: 80%;
  height: 90%;
}
.pager{
  width: 100%;
  height: 100%;
  display: block;
  justify-content: space-between;
}
.row-pager{
  margin-top: 1em;
  margin-right: 1em;
  display: flex;
  justify-content: space-between;
}
.pager-bt{
  max-width: 25%;
  display: flex;
}
.pager-bt button{
  margin-left: 1em;
  border-radius: 8px;
}
.pager-bt button:focus{
  border: none;
  outline: none;
}
.pager-bt button::selection{
  background-color: var(--dark-blue);
}
.sidebar{
  min-width: 20%;
  min-height: 200%;
  max-width: 20%;
  max-height: 200%;
  background-color: var(--dark-blue);
  position: absolute;
  float: left;
  z-index: 2;

}
.sidebar button{
  border: 1px solid rgba(27, 27, 27,0.6);
  font-size: 0.8em;
}
.search-box{
  display: block;
  top: 3em;
  left: 22%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 39em;
  height: auto;
  position: absolute;
  background-color: black;
  color: white;
}
.search-box div{
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  border: 1px dotted gray;
  height: 3em;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.search-box img{
  width: 3em;
  height: 100%;
}

#player {
  position: absolute;
  left: 0;
  top: 0;
  height: 80%;
  width: 100%;
}
#player iframe{
  height: 100vh;
}
#controls {
  padding: 1rem;
}
#controls i {
  padding-top: 0.3rem;
  display: block;
}
.control {
  padding-right: 1rem;
}
#files {
  padding: 0.5rem;
}
#files a {
  padding: 0.5rem;
}
.detail-bg{
  background-color: black;
  min-width: 100vw;
  min-height: 100vh;
}
.img-resume{
  position: relative;
  min-width: 100vw;
  max-height: 100vh;
  -webkit-filter: grayscale(70%) brightness(20%) blur(5px)  ;
}
.content-detail{
  position: absolute;
  left: 0;
  top: 0;
  width: 69em;
  height: 27em;
  max-width: 100%;
  max-height: 100%;
  padding: 1em;
}
.content-detail .border-center{
  width: 100%;
  min-height: 100%;
  border: 1px solid rgb(73, 72, 72);
  border-radius: 6px;
  box-shadow: 0px 0px 12px black;
  padding: 5em;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  color: var(--beson-shadow-lv2);
}
.content-detail .title{
  color: #d1324d;
  font-weight: bold;
  font-size: 1.5em;
  max-width: 50%;
  border: 1px solid rgb(43, 43, 43);
  padding: 5px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 12px black;
  border-radius: 6px;
}
.content-detail .studio{
  color:gray;
  font-size: 0.8em;
}
.content-detail button{
  background-color: rgba(27, 27, 27,0.6);
  box-shadow: 0px 0px 12px black;
  border: rgb(27, 27, 27);
  border-radius: 6px;
}

.tooltip-synopsis{
  color: var(--beson-shadow);
  position: absolute;
  background-color: black;
  max-width: 20em;
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: 0.8em;
  margin-top: 15em;
  border-radius: 6px;
  z-index: 3;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
.fade-in {
  animation: fadeIn ease 20s;
  -webkit-animation: fadeIn ease 20s;
  -moz-animation: fadeIn ease 20s;
  -o-animation: fadeIn ease 20s;
  -ms-animation: fadeIn ease 20s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

.skip-anounce{
  position: absolute;
  z-index: 3000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d18c32;
  width: 100%;
  height: 4em;
  color: white;
  font-weight: bold;
}
.skip-invisible{
  position: absolute;
  z-index: 3000;
  width: 100%;
  height: 15em;
  background-color: transparent;
  top: 40%;
}

.logo {
  height: 3.2em;
  width: 13em;
}

.box-shadow{
  box-shadow: 0px 0px 12px black;
}

.load-component{
  position: fixed;
  float: inline-start;
  z-index: 5000;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  background-color: black;
  color: white;
  font-weight: bold;
}
.border {
  border: 1px solid gray;
  min-width: 2em;
  min-height: 1em;
}
.back-button{
  color: white;
  font-size: 2em;
  position: absolute;
  z-index: 5000;
  float: inline-start;
  top: 2em;
  width: 2em;
  height: 1em;
  /* border: 1px solid gray; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-series{
  color: white;
  background-color: var(--shadow-dark-blue);
  font-weight: bold;
  width: 10em;
  margin-right: 3em;
}
.align-end{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 6000;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.search-row{
  background-color: black;
}
.search-row:hover{
  background-color: var(--beson-red);
  cursor: pointer;
}
.mobile-lupa{
  font-size: 3em;
  height: 0.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: gray;
}
.mobile-lupa:hover{
  background-color: transparent;
}
@media only screen and (max-width: 600px) {
  .row-pager{
    margin-top: 1em;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
  }
  .row-pager div{
    min-width: 100%;
    margin-top: 10em;
    
  }
  .row-pager  .cover{
    margin-left: 0px;
    width: 20em;
    min-width: 20em;
    min-height: 25em;
    height: 25em;
    /* box-shadow: 6px 6px 6px; */
  }
  .pager-bt{
    justify-content: center;
  }
  .footer{
    height: 5em; 
  }
  .hide-mobile{
    display: none;
  }
  .navbar{
    position: fixed;
  }
  .sidebar{
    margin-top: 3em;
    min-width: 80%;
    min-height: 100%;
    background-color: var(--dark-blue);
    position: fixed;
    float: left;
  }

  .search-box{
    display: block;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 100% !important;
    min-width: 100%;
    left: 0%;
    height: auto;
    position: absolute;
    background-color: black;
    color: white;
  }
  .search-box div{
    border: 1px dotted gray;
    height: 6em;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .search-box img{
    width: 6em;
    height: 100%;
  }
  .mobile-nav{
    position: absolute;
    z-index: 5000;
    background-color: #32d174;
    font-size: 1.3em;
    top: 92%;
  }
  .top92{
    top: 92% !important;
  }
  .mobile-nav input{
    outline: none;
  }

  .carrossel{
    overflow: scroll;
  }
  .pager-buttons{
    max-width: 100%;
  }
  .pager-bt button{
    margin-left: 0.1em;
    border-radius: 8px;
    max-width: 2em;
    font-size: 0.8em;
    min-width: 2em;
  }
  .pager-bt{
    max-width: 15%;
    display: flex;
  }

}

